<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @highlight.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @highlight.description %>
</p>

<p>
  <strong>Store:</strong>
  <%= @highlight.store %>
</p>

<%= link_to 'Edit', edit_crawl_store_highlight_path(@crawl, @store, @highlight) %> |
<%= link_to 'Back', crawl_store_highlights_path(@crawl, @store) %>
